body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.login-container {
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.background-image {
    background: url('/static/img/bg1.jpg') no-repeat center center/cover;
    height: 100%;
    position: relative;
    transition: opacity 1s ease-in-out;
}

.overlay {
    background-color: rgba(80, 88, 89, 0.7);
    color: #ffffff;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

/* Login Button */
#login-btn {
    margin-right: 20px;
}

#login-btn:active {
    background-color: inherit;
    border-color: inherit;
}

/* Register Button */
#register-btn {
    color: #fff;
    background-color: transparent;
    margin-left: 20px;
}

#register-btn > a {
    text-decoration: none;
}

#register-btn:hover {
    background-color: #CBA135;
    color: #16252C;
    border-color: #16252C !important;
}

.login-form-container {
    display: flex;
    height: 100vh;
    transition: transform 1s ease-out;
}

.form-left {
    background: url('/static/img/bg1.jpg') no-repeat center center/cover;
    flex: 1;
    position: relative;
}

.form-right {
    flex: 1;
    padding: 40px;
    background-color: #F5F5DC;
    box-shadow: 2px 0 10px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    transform: translateX(-100%);
    transition: opacity 1s ease-out, transform 1s ease-out; /* Transition */
}

.form-right.show {
    opacity: 1;
    transform: translateX(0);
}

.login-logo img {
    width: 150px;
}

.line-divider {
    background-color: #CBA135;
    width: 2px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

/* Styling the form elements */
.form-control {
    border-radius: 25px;
    box-shadow: inset 0 2px 5px rgba(0, 0, 0, 0.1);
}

.btn {
    border-radius: 25px;
}

.btn-primary {
    background-color: #16252C;
    color: #D4BF86;
    border-color: #16252C;
}

.btn-outline-primary {
    border-color: #16252C;
    color: #D4BF86;
}

.btn-primary:hover, .btn-outline-primary:hover {
    background-color: #CBA135;
    color: #16252C;
    border-color: #16252C;
}

.text-muted {
    color: #BDC3C7 !important;
}
