a {
    text-decoration: none;
    color: inherit;
}

/* User feedback (Flash Messages) */
.flash-message {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 500px;
    text-align: center;
    padding: 1rem 2rem;
    border-radius: 12px;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
    z-index: 2000;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
    opacity: 0;
    animation: fadeInOut 4s ease-in-out forwards;
    cursor: pointer;
    pointer-events: auto;
}

/* Categories */
.flash-message.success {
    background-color: #4CAF50;
}

.flash-message.error {
    background-color: #E74C3C;
}

.flash-message.warning {
    background-color: #F39C12;
}

.flash-message.info {
    background-color: #3498DB;
}

/* Animations */
@keyframes fadeInOut {
    0% {
        opacity: 0;
        transform: translate(-50%, -60%) scale(0.95);
        pointer-events: none;
    }
    10%, 85% {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
        pointer-events: auto;
    }
    100% {
        opacity: 0;
        transform: translate(-50%, -40%) scale(0.95);
        pointer-events: none;
    }
}

.flash-message:hover {
    animation-play-state: paused;
}


/* All Buttons */

.btn {
    border-radius: 25px;
    padding: 10px 30px;
    font-size: 1rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

/* Shadow */
.btn:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
}

.btn-primary {
    background-color: #16252C;
    color: #D4BF86;
    border: 1px solid #16252C;
}

.btn-primary:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: scale(1.05);
    background-color: #CBA135;
    border-color: #CBA135;
    color: #16252C;
}

.btn-outline-primary {
    border-color: #CBA135;
    color: #CBA135;
}

.btn-outline-primary:hover {
    background-color: #CBA135;
    color: #16252C;
    border-color: #CBA135;
}

.btn-outline-light:hover {
    background-color: #CBA135;
    color: #16252C;
    border-color: #CBA135;
}

/* Navbar */

.navbar {
    box-shadow: 5px 5px 5px #000;
    border-radius: 10px;
}

.navbar-nav .nav-link {
    transition: color 0.3s ease, text-decoration 0.3s ease;
}

.navbar-nav .nav-link:hover {
    color: #CBA135; /* Gold on hover */
    text-decoration: underline; /* Underline effect */
}

/* Footer */
.social-icon {
    font-size: 1.5rem;
    transition: transform 0.3s ease, color 0.3s ease;
}

.social-icon:hover {
    transform: scale(1.1);
    color: #CBA135;
}


/* BS overwritten */
